/* .elem h2 {
  width: max-content;
  white-space: nowrap;
} */
/* .title {
  font-size: 1.4rem;
  font-weight: 600;
  height: 48px;
  display: flex;
  align-items: center;
  opacity: 0;
}

.title.visible {
  opacity: 1;
} */
